<?xml version="1.0" encoding="UTF-8"?>
<server description="new server">
  <!-- Enable features -->
  <featureManager>
    <feature>microProfile-3.0</feature>
    <feature>jndi-1.0</feature>
    <feature>jsp-2.3</feature>
    <feature>servlet-4.0</feature>
    <feature>managedBeans-1.0</feature>
    <feature>websocket-1.1</feature>
  </featureManager>

  <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
  <httpEndpoint id="defaultHttpEndpoint" host="*"
		httpPort="9080" httpsPort="9443">
  </httpEndpoint>

  <library id="jaegerLib" apiTypeVisibility="+third-party" >
    <file name="${shared.resource.dir}/jaegerLib_0.34/gson-2.8.2.jar" />
    <file name="${shared.resource.dir}/jaegerLib_0.34/jaeger-client-0.34.0.jar" />
    <file name="${shared.resource.dir}/jaegerLib_0.34/jaeger-core-0.34.0.jar" />
    <file name="${shared.resource.dir}/jaegerLib_0.34/jaeger-thrift-0.34.0.jar" />
    <file name="${shared.resource.dir}/jaegerLib_0.34/jaeger-tracerresolver-0.34.0.jar" />
    <file name="${shared.resource.dir}/jaegerLib_0.34/libthrift-0.12.0.jar" />
    <file name="${shared.resource.dir}/jaegerLib_0.34/slf4j-api-1.7.25.jar" />
    <file name="${shared.resource.dir}/jaegerLib_0.34/opentracing-util-0.31.0.jar" />
    <file name="${shared.resource.dir}/jaegerLib_0.34/opentracing-noop-0.31.0.jar" />
  </library>

  <webApplication name="acmeair-authservice" location="acmeair-authservice-java-3.0.0-SNAPSHOT.war" contextRoot="/">
    <!-- enable visibility to third party apis -->
    <classloader commonLibraryRef="jaegerLib" apiTypeVisibility="+third-party"/>
  </webApplication>

  <logging traceSpecification="com.ibm.ws.opentracing.*=all:com.ibm.ws.microprofile.opentracing.*=all"/>	

  <keyStore id="defaultKeyStore" password="secret" /> 
</server>
